.container {
    width: 700px;
    height: 400px;
    border: 1px solid black;
    border-radius: 5px;
}

.center-div {
    margin-left: auto;
    margin-right: auto;
    width: max-content;
}

.flex-div {
    display: flex;
    align-items: center;
}

.btn-flat {
    border: 1px solid #000;
    margin: 20px;
}

.big-icon {
    font-size: 40px;
    margin: 0 20px;
}

.range-field {
    width: 400px;
}
