.container {
    width: 700px;
    height: 400px;
    border: 1px solid black;
    border-radius: 5px;
}

.center-div {
    margin-left: auto;
    margin-right: auto;
    width: max-content;
}

.btn-flat {
    border: 1px solid #000;
    margin: 20px;
}

.flex-div {
    display: flex;
    align-items: center;
}

.flex-item {
    padding: 0 50px;
}

.flex-item:last-child {
    border-left: 1px solid lightgray;
}

span.source-radio-label {
    font-size: 20px !important;
    color: #000;
}

span.toggle-radio-label {
    font-size: 30px !important;
    color: #000;
}
